<%- contentFor('body') %>
<div class="container my-5 border" style="background-color: rgba(80, 78, 78, 0.1);">
  <h1 class="text-center my-4"> Cadastro de Cursos</h1>
    <div class="container my-5">
        <form action="/add_cursos" method="post" role="form" class="form">
          <div class="row">
            
              <div class="col form-group">
                <label for="nome">Nome do Curso</label>
                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do Curso" required>
              </div>

              <div class="col form-group">
                <label for="tempo">Tempo de duração</label>
                <input type="number" class="form-control" name="tempo" id="tempo" placeholder="Tempo de duração" required>
              </div>
            </div>

            <div class="form-group my-3">
              <label for="descricao">Descrição</label>
              <textarea class="form-control" name="descricao" id="descricao" rows="4" placeholder="Descrição" required></textarea>
            </div>

            <div class="col form-group">
              <label for="mensalidade">Valor Mensal</label>
              <input type="number" step="any" class="form-control" name="mensalidade" id="mensalidade" placeholder="Mensalidade" required>
            </div>

            <div class="form-group row mt-5">
              <div class="col-md-6">
                <a href="/sistema_FIT" class="btn btn-secondary btn-lg form-control">Cancelar</a>
              </div>
              <div class="col-md-6">
                  <input type="submit" value="Cadastrar" class="btn btn-primary btn-lg form-control">
              </div>       
            </div>
          </div>
        </form>
      </div>
    </div>
