<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1 class="my-5 ">SISTEMA ADMINISTRATIVO FIT</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100 text-center" style="background-color: rgba(137, 138, 139, 0.2);">

            <h4 class="card-title text-secudary">CADASTRO DE ALUNOS</h4>

            <div class="card-body">
                <p>Aqui você cadastará os alunos que aqui cursará.</p>
            </div>

            <div class="card-footer">
                <a href="/add_alunos" class="btn btn-primary col-6">Começar</a>
            </div>

            </div>

        </div>

        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100 text-center" style="background-color: rgba(137, 138, 139, 0.2);">

            <h4 class="card-title text-secudary">CADASTRO DE CURSOS</h4>

            <div class="card-body">
                <p>Aqui você cadastará os cursos de a instituição fornecerá.</p>
            </div>

            <div class="card-footer">
                <a href="/add_cursos" class="btn btn-primary col-6">Começar</a>
            </div>

            </div>

        </div>

        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100 text-center" style="background-color: rgba(137, 138, 139, 0.2);">

            <h4 class="card-title text-secudary">CADASTRO DE PROFESSORES</h4>

            <div class="card-body">
                <p>Aqui você cadastará os professores que fornecerá serviço para matérias especificas.</p>
            </div>

            <div class="card-footer">
                <a href="/add_professor" class="btn btn-primary col-6">Começar</a>
            </div>

            </div>

        </div>

    </div>

</div>